.NewProjectForm{
    color: black!important;
}
.NewProjectForm select {
    width: 100%;
    height: 25px;
}
.NewProjectForm textarea{
    width: 100%;
    height: 100px;
    resize: none;
}
.NewProjectForm label{
    font-weight: 500;
}
/* .NewProjectForm select,textarea,input {
    background-color: #d6ffd51f; 
  }
   */
  .businesscategory select:focus {
    background-color: #fff8dc; /* light yellow when selecting */
    outline: none; /* optional: remove default blue outline */
  }
  
.NewProjectForm input,textarea:focus{
    
    outline: none;
}


.NewProjectForm input[type=checkbox]{
    width:auto;
}
.NewProjectForm form{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.NewProjectdiv{
    background: #e7e7e7;
}

.NewProjectForm{
    padding: 15px;
}
