
#Services{
    margin: 4rem 0;
    padding: 2.5rem;
    background: url();
    height: auto;
    
}
.Services-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}
.Services-header h1{
    font-family: "Archivo Black", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #313450;
}
.Services-header p{
    font-size: 19px;
    font-weight: 400;
}
.Services-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 3rem;
    margin-bottom: 2rem;
}
.Services-card{
    background-color: white;
    border-radius: 5px;
    padding:2em;
}
.Services-card-icon{
    padding:2.4em;
    border-radius: auto;
    display: flex;
    justify-content: center;
}
.Services-card-icon svg{
    color: #121742!important;
}
.Services-card-content{
    text-align: center;
}
.Services-card-content h1{
    font-size: 23px;
    padding: 1rem;
}
.Services-card-content p{
    font-size: 18px;
}
.our-services{
    text-align: center;
    font-size: 18px;
}
.hidden {
    opacity: 0;
    transform: translateX(-150px); /* Adjust as needed */
    
  }
  
  .visible {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  .hidden-right {
    opacity: 0;
    transform: translateX(150px); /* Adjust as needed */
    
  }
  
  .visible-right {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  @media (min-width: 768px) and (max-width: 1024px){
    .Services-card{
        padding: 8px;
    }
    .Services-cards{
        padding: 10px;
        gap: 20px;
    }
    .Services-card-icon{
        padding: 20px;
    }
  }
  
  @media(min-width:576px) and (max-width:768px){
    .Services-card{
        width: 46%;
        padding: 20px;
    }
    .Services-cards{
        flex-wrap: wrap;
        padding: 10px;
        gap:30px;
    }
    .Services-card-content p {
        font-size: 17px;
    }
    .Services-card-icon {
        padding: 20px;
    }
    .Services-card-content h1{
        font-size: 21px;
        padding: 10px;
    }
  }
  @media (max-width:575px){
    #Services{
        padding: 20px;
    }
    .Services-cards {
        flex-wrap: wrap;
        padding: 10px;
        gap: 30px;
    }
    .Services-card{
        width: 90%;
    }
    

  }
